.list {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
  justify-content: center;
}
.button {
  min-width: 70px;
  color: whitesmoke;
  padding: 10px;
  border: 1px solid lightskyblue;
  border-radius: 8px;
  &::first-letter {
    text-transform: uppercase;
  }
}

.resetButton {
  composes: button;
  background-color: rgb(208, 75, 75);
  font-weight: bold;
}
