@import "modern-normalize/modern-normalize.css";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
button {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
}
body {
  background: #1d1d1d;
}
